<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yi.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.yi.kotlin.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/timg"
        android:label="@string/APP_NAME"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/timg"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yi.kotlin.welcome.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yi.kotlin.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="behind" />

        <activity
            android:name=".main.MainComposeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

<!--        <activity-->
<!--            android:name="com.yi.kotlin.main.NavigationActivity"-->
<!--            android:launchMode="singleTask"-->
<!--            android:screenOrientation="behind" />-->

    </application>

</manifest>